
html{ min-width:750px;}
body{ margin:0; padding:0; font-size:14px; font-family:"微软雅黑","宋体",Arial, Helvetica, sans-serif; overflow-x:hidden; background-color:#def0fe}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
area{outline:none;}
img{ border:0;}
ol,ul{list-style:none;}
iframe{ display:block;}
a{text-decoration:none;outline:none;}
a:hover{ text-decoration:none}
.clearfix:after {content:"";display:block;height:0;clear:both;} 
.clearfix {zoom:1;}
.ewm_list{ width:1186px; height:246px; margin:70px auto 100px; padding-top: 0px; }
.ewm_list li{  position:relative; width:130px; height:130px; margin:0 74px;display: inline-block;}
.ma_bg{ position:relative; width:130px; height:130px; }
.ma_bg img{ position:absolute; width:120px; height:120px;border: 5px solid #655751;}
.ewm_list li p{font:normal 16px/36px "Microsoft YaHei"; color:#655751; text-align:center;line-height: 40px;border-bottom: 2px solid #655751;width: 130px;}
.ewm_list li p a{ color:#ffeeda;}
.ewm_list li .txt{position: absolute;color: #fff;width: 200px;left: -30px;text-align: center;line-height: 50px;}
.maozi{ position:absolute; left:-123px; top:0; z-index:2;}
.prompt{margin-top:30px;color: #5b708d;text-align: center;bottom: -50px;width: 100%;}
.wrap{max-width: 1920px; margin:0 auto; position: relative;background:#fbfbfb url(../image/inside-bg-top.jpg) no-repeat center top; }
.content{ min-height: 2000px;padding-bottom: 100px;background: url(../image/inside-bg-bot.jpg) no-repeat center bottom;}
/*导航*/
.navbox{width: 100%; height: 80px;position: absolute;z-index: 100; display: block; max-width: 1920px;transform: translate(-50%, 0);left: 50%;}
.nav{color: #2b566a;font-size: 24px;line-height: 80px;  position: absolute; width: 770px;top: 0;left: 50%;margin: 0 0 0 -385px;}
.nav a{margin: 40px 40px 0 0;color: #2b566a;display: inline-block;width:110px;overflow: hidden;text-indent: -1000px; height:38px;background: url(../image/nav_inside.png) no-repeat;background-size:auto 100%;position: relative; z-index: 1;}
.nav a.on{background: url(../image/nav_on.png) no-repeat;background-size: auto 100%;}
.nav a.zixun{background-position-x: -186px;}
.nav a.menpai{background-position-x: -377px;}
.nav a.tese{background-position-x: -567px;}
.nav a.yingyin{background-position-x: -752px;}


.logo{width: 360px;height: 80px;background: url(../image/logo.png) no-repeat;float: left;}
.rel1000{width: 100%;margin:0 auto;position: relative;}
.header{height: 530px;background: url(../image/inside_head.jpg) center top no-repeat;background-size:auto 100%;}
.btn-home{position: absolute;right: 90px;top:100px;width:139px;height:38px;text-indent: -9999px; }

.inside-title{width: 100%;margin-bottom:50px;text-align: center;}
.news-title{height:91px; }

.inside-nav-wrap{width: 100%;height:80px;border-bottom: 1px solid #838383;overflow: hidden;}

.inside-nav-wrap ul{width: 100%;margin:0 auto;overflow: hidden;text-align: center;}
.inside-nav-wrap ul li{width:240px; text-align: center; display: inline-block;}
.inside-nav-wrap ul li a{display:inline-block;height:80px;line-height:80px;font-size: 26px;color: #000;position: relative;}
.inside-nav-wrap ul li a:after{display:none;position:absolute;bottom:0;left:50%;content: '';width: 100%;padding: 0 20px;height: 3px;background-color: #990000;border-radius: 0px;transform: translateX(-50%);}
.inside-nav-wrap ul li a.on,.inside-nav-wrap ul li a:hover{color: #990000;}
.inside-nav-wrap ul li a.on:after,.inside-nav-wrap ul li a:hover:after{display: block;}
.news-list{min-height: 1150px;max-width: 1200px;}
.news_list_wrap{ position:relative; width:100%; height:1040px; margin:0 auto;}
.news_list_wrap li{ position:relative; width:100%; height:70px; border-bottom:1px dashed #838383;}
.news_list_wrap li a{ position:relative; display:block; width:100%; height:100%;}
.news_list_wrap li .hover{ display:none; position:absolute; width:1920px; height:70px; left:-460px; top:0;  }
.news_list_wrap li:hover .hover{ display:block;}
.news_cont{ position:relative; width:100%; height:150px; padding-top:30px; z-index:5;}
.news_head{ height:56px; overflow:hidden;position: relative;}
.news_list_wrap .news_tag{ float:left; border-radius: 22px;position: relative; padding:0 4px;}
.news_list_wrap .news_tag b{display: inline-block; padding:0 20px;height:70px;font:normal 20px/70px "Microsoft YaHei"; color:#000; text-align:center; }
.news_list_wrap .news_tag:before,.news_list_wrap .news_tag:after{position: absolute;display: block;content: '';width: 8px;height: 8px; }
.news_list_wrap .news_tag:before{left:10%;top:-4px;}
.news_list_wrap .news_tag:after{right:10%;bottom:-4px;}
.news_list_wrap .news_time{position: absolute;right: 10px; font-size: 14px;color: #a59c89;font:normal 20px/70px "Microsoft YaHei";}
.news_list_wrap p{ float:left; margin-left:15px;height:70px;font:normal 20px/70px "Microsoft YaHei"; color:#000; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.news_list_wrap li a:hover p{color: #990000;}
.news_intro{height:90px; padding:15px 0 0 90px;font:normal 18px/30px "Microsoft YaHei"; color:#5b708d; overflow:hidden;}
.page{ margin-top:65px; color:#47627b; text-align:center;overflow: hidden; margin-bottom: 40px;font-size: 18px;}
.page a{ display:inline-block; height:26px; padding:0 10px; margin:0 2px; font:normal 18px/26px "Microsoft YaHei"; color:#648dbd; border:1px solid #648dbd;}

/* news===================================== */
.news_detail_wrap{ width:1400px; margin:0 auto; padding-top:50px;}
@media screen and (max-width: 1600px) {
    .news_detail_wrap{width: 100%;}

}
.bread{height:50px;font:normal 18px/50px "Microsoft YaHei"; color:#5b708d; text-align:right;}
.bread a{color:#5b708d; text-decoration:underline}
.bread span{ margin:0 10px;}

.article_t_box{ margin-top:30px; padding-bottom:20px; border-bottom:1px solid #567591;}
.article_t_box h1{font:normal 46px/62px "Microsoft YaHei"; color:#203145; text-align:center;}
.article_t_box h2{font:normal 46px/62px "Microsoft YaHei"; color:#203145; text-align:center;}
.article_time{ margin-top:20px;font:normal 18px/24px "Microsoft YaHei"; color:#5b708d; text-align:center;}
.article_time span{ margin:0 20px;}
.article_Main{padding-bottom: 40px;}
.article_txt{min-height:750px;padding-top: 20px;color:#5b708d;font:normal 14px/28px "Microsoft YaHei";}
.article_txt p{margin-top:0px;font:normal 24px/38px "Microsoft YaHei"; color:#5b708d;}
.article_txt a{color:#5b708d;}
.article_txt table,.article_txt table tr,.article_txt table tr td,.article_txt table tr p{
	text-align: center;
}
.article_txt table{
	margin: 0 auto;
	border-right:1px solid #5b708d;
	border-bottom:1px solid #5b708d;
}
.article_txt table td{
	padding: 4px;
	font-size: 16px;
	border-left:1px solid #5b708d;
	border-top:1px solid #5b708d;
}

.article_txt img{ max-width:1200px;}
 .logo2{width: 104px;height: 92px;background: url(../image/logo2.png) no-repeat;position: absolute;left: 10px;top: 10px; display: none;}

 @media screen and (min-width: 1px) and (max-width: 800px) {
  .btn_show{width: 42px;height: 42px;background: url(../image/btn_show.png) no-repeat 0 0;position: absolute; cursor: pointer;right: 15px;top: 15px; z-index: 1; }
  
.btn_close{width: 42px;height: 42px;background: url(../image/btn_close.png) no-repeat 0 0;position: fixed;right: 15px;top: 15px; cursor: pointer; z-index: 10;}
.logo{display: none;} 
.logo2{display: block;}
.general_20220704{display: none;}
.generalBox_20220704{display: none;}
}

.yy_btn:hover {  background: url(../image/btn_yy_hover.png) no-repeat 0 0;background-size: 100%;}
 .yy_btn_top {
   position: absolute;
   top:20px;
   right: 0 ;
   width: 215px;
   height: 65px;
   background: url(../image/btn_yy.png) no-repeat 0 0;
   background-size: 100%;
   cursor: pointer;
   transition: all .3s ease-in-out;z-index: 111;
 }
 /* .cs_btn:hover  {
 	background: url(../image/btn_yy_hover.png) no-repeat 0 0;
 	background-size: 100%;
 } */

 .cs_btn_top {
 	position: absolute;
 	top: 30px;
 	right: 10px;
 	width: 215px;
 	height: 65px;
 	background: url(../image/btn_yy_zg.png) no-repeat 0 0;
 	background-size: 100%;
 	cursor: pointer;
 	transition: all .3s ease-in-out;
 	z-index: 111;
 }
 .down_btn_top {
 	position: absolute;
 	top: 30px;
 	right: 10px;
 	width: 215px;
 	height: 65px;
 	background: url(../image/btn_yy_down.png) no-repeat 0 0;
 	background-size: 100%;
 	cursor: pointer;
 	transition: all .3s ease-in-out;
 	z-index: 111;
 	display: block;
 }
 /*弹出框：游戏预约*/
.pop{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9) url(../image/pop.png) no-repeat center center; display: none; z-index: 900; }
.popcs{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9) url(../image/qr_bg.jpg) no-repeat center center; display: none; z-index: 900; }
.pop-big-pic{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); display: none; z-index: 11; }

.pop_content{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.pop .close{ position: absolute;   width: 40px; height: 40px; background: url(../image/pop_close.png) no-repeat 0 0;background-size: 100%;  z-index: 100;right: 0; top: -40px; }
#pop_bigPic .close{ position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -36px;
    width: 71px;
    height: 72px;
    background: url(../image/pop-big-close.png) no-repeat center;
    cursor: pointer;
    border: 0;}
.pop0{ width:655px; height:565px; background: url(../image/pop0.png) no-repeat 0 0;background-size: 100%; }
.pop_tit1 {
	height:103px;
	background:url(../image/pop_tit1.png) no-repeat center;
	background-size:auto 100%;
	width:100%;
	margin:40px auto 0;
}
.pop_tit_cs {
	height: 103px;
	background: url(../image/tit_cs.png) no-repeat center;
	background-size: auto 100%;
	width: 100%;
	margin: 40px auto 0;
}
.user_phone {
	display:block;
	margin:0 auto 20px auto;
	width:430px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#fff;
	border:1px solid #818793;
	font-size:20px;
	color:#87a2ca;
}
.area_code {
	margin-top:12px;
	width:176px;
	height:26px;
	text-align:center;
	background:none;
	border:none;
	border-right:1px solid #485872;
	font-size:18px;
	color:#87a2ca;
	outline:none;
}
.phone_num {
	margin-top:12px;
	width:242px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:none;
	border:none;
	font-size:18px;
	color:#87a2ca;
}
.wanmeiCaptcha {
	margin:0 auto 20px auto;
	width:432px;
	height:48px;
	background:#5878bb;
}
.tel_code {
	position:relative;
	margin:0 auto 30px auto;
	width:430px;
	height:50px;
	background:#fff;
	border:1px solid #818793;
	overflow:hidden;
}
.tel_code_input {
	position:absolute;
	top:0;
	left:0;
	width:237px;
	height:52px;
	line-height:52px;
	background:none;
	border:none;
	text-align:center;
	font-size:20px;
	color:#87a2ca;
}
.get_tel_code {
	position:absolute;
	top:0;
	right:0;
	width:154px;
	height:52px;
	line-height:52px;
	text-align:center;
	background:#30415b;
	font-size:20px;
	color:#9badc9;
}
.pop_submit {
	display:block;
	margin:0 auto;
	width:234px;
	height:58px;
	background:url(../image/pop_submit.png) no-repeat 0 0;
  background-size: 100%;
}
/* .pop_submit:hover {
	background-position:0 -58px;
}*/
.yy_tip {
	margin-top:40px;
	text-align:center;
	font-size:16px;
	color:#9ab3d8;
}
#wanmeiCaptcha_0 {
	max-width:592px!important;
	height:52px!important;
}
#wanmeiCaptcha_0 .tester-doneicon,#wanmeiCaptcha_0 .tester-failicon {
	top:9px!important;
}
.tester-ringicon {
	top:10px!important;
	left:30px!important;
}
#wanmeiCaptcha_0 p {
	line-height:50px!important;
	font-size:24px!important;
	color:#1875f0;
}
#wanmeiCaptcha_0 .tester-ringouter {
	border-width:1px!important;
	width:18px!important;
	height:18px!important;
	border-radius:10px!important;
	-webkit-border-radius:10px!important;
}
#wanmeiCaptcha_0 .tester-ringinner {
	background-color:#1875f0!important;
}

/* 测试资格 */
.cs_box{width: 297px;height: 270px;background: url(../image/cs_qr_bg.png) no-repeat 0 0;background-size: 100%;margin: 40px auto 0;text-align: center;}
.cs_box img{width: 233px;height: 233px;margin: 20px auto 0;}
.popcs .close{ position: absolute;cursor: pointer;   width: 40px; height: 40px; background: url(../image/pop_close.png) no-repeat 0 0;background-size: 100%;  z-index: 100;right: 0; top: -40px; }

/*弹出框：预约成功*/
.pop1{ width: 840px; height: 501px; background: url(../image/pop1.png) no-repeat 0 0; }
.pop_tit2{ height: 270px; background: url(../image/pop_tit2.png) no-repeat center 184px; }
.yy_success_tip{ margin-top: 40px; text-align: center; font-size: 26px; color: #fff; }

/*弹出框：提示*/
#pop_alert{ z-index: 901; }
.pop2{ width: 740px; height: 402px; background: url(../image/pop2.png) no-repeat 0 0; }
.table{ display: table; width: 100%; height: 100%; }
.table_cell{ display: table-cell; vertical-align: middle; text-align: center; font-size: 26px; color: #fff; }
 
