
body{ position: relative; margin:0; padding:0; font-size:14px; font-family:"黑体","Microsoft Yahei",Arial, Helvetica, sans-serif; -webkit-text-size-adjust:none; background:#b0b9c0; overflow-x: hidden;}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
*{outline:none;}
img{ border:0;}
ol,ul{list-style:none;}
a{ font-family:"黑体","Microsoft Yahei",Arial, Helvetica, sans-serif; text-decoration:none; outline:none; cursor:pointer;}
a:hover{ text-decoration:none;}

.wrap{ position: relative; width: 25.6rem; height: 35.2rem; background: url(../image/bg1.jpg) no-repeat center top; background-size: 100% auto; overflow: hidden;}
/* head */
.section-head{ position: relative; height: 8.48rem;}
.logo{ position: absolute; left: .58rem; top: .5rem; width: 1.25rem; height: 1.12rem; background: url(../image/logo1.png); background-size: 100% auto;}
.btn-main{ position: absolute; right: .58rem; top: .4rem; width: 2.58rem; height: .73rem; background: url(../image/btn-main.png); background-size: 100% auto;}
/* cont */
.section-cont{ position: relative; width: 13.7rem; margin-left: 5.11rem;}
/* nav-bar */
.nav-bar{ position: absolute; left: -2.94rem; top: 1.32rem; width: 2.05rem;}
.nav-bar a,.nav-bar span{ display: block; width: 2.05rem; height: .65rem; margin-bottom: .12rem;}
.nav-bar a{ text-indent: -3rem; overflow: hidden;}
.btn-helper{ position: relative; background: url(../image/btn-helper.png) no-repeat; background-size: 100% auto; cursor: pointer;}
.ewm-zhushou{ display: none; position: absolute; left: 50%; transform: translate3d(-50%,0,0); top: -2.06rem; width: 1.85rem; height: 1.85rem; background: url(../image/zhushou-ewm-bg.png) no-repeat; background-size: 100% auto;}
.ewm-zhushou img{ position: absolute; left: 50%; top: 50%; transform: translate3d(-50%,-50%,0); width: 1.33rem; height: 1.33rem;}
.btn-helper:hover{ background: url(../image/btn-helper-hover.png) no-repeat; background-size: 100% auto;}
.btn-helper:hover .ewm-zhushou{ display: block;}
.btn-game-intro{ background: url(../image/btn-game-intro.png) no-repeat; background-size: 100% auto;}
.btn-game-intro:hover{ background: url(../image/btn-game-intro-hover.png) no-repeat; background-size: 100% auto;}
.btn-role-intro{ background: url(../image/btn-role-intro.png) no-repeat; background-size: 100% auto;}
.btn-role-intro:hover{ background: url(../image/btn-role-intro-hover.png) no-repeat; background-size: 100% auto;}
.btn-news{ background: url(../image/btn-news.png) no-repeat; background-size: 100% auto;}
.btn-news:hover{ background: url(../image/btn-news-hover.png) no-repeat; background-size: 100% auto;}
/* cont-item */
.cont-item{ padding-bottom: 0.7rem;}
.item-title{ display: block; height: .8rem;}
.btn-download{ display: block; width: 5.9rem; height: 1.76rem; margin: .54rem 0 0 1.66rem; background: url(../image/btn-download1.png) no-repeat; background-size: 100% auto;}
.hover-scale{ transition: transform 0.3s;}
.hover-scale:hover{ transform: scale(1.03);}
.pack-info-wrap{ margin: .4rem 0 0 1.66rem; overflow: hidden;}
.pack-info-wrap img{ display: block; width: 4.86rem;}


.question-item{ position: relative; width: 9.38rem; height: .78rem; margin: .46rem 0 0 1.1rem; background: url(../image/link-line.png) no-repeat center bottom; background-size: 100% auto;}
.question-item div{ width: 4.68rem; height: .68rem; margin-left: .56rem; overflow: hidden;}
.question-item div img{ float: left; height: .31rem; margin-top: .21rem;}
.icon-important{ float: left; width: .93rem; height: .3rem; margin: .2rem 0 0 .2rem; background: url(../image/icon-important.png) no-repeat; background-size: 100% auto;}
.btn-link-check{ position: absolute; right: 1.33rem; top: 0; width: 2.53rem; height: .68rem; background: url(../image/btn-link-check.png) no-repeat; background-size: 100% auto;}
.system-info{ display: block; width: 12.01rem; margin: .46rem 0 0 1.66rem;}